body {
    font-family: "Roboto", sans-serif;
}

@font-face {
    font-family: 'Roboto';
    src:  url('../fonts/Roboto-Black.ttf') format('truetype');
    font-weight: 900;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.eot');
    src: url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Bold.woff') format('woff'),
    url('../fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: 700;
    
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Light.eot');
    src: url('../fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Light.woff') format('woff'),
    url('../fonts/Roboto-Light.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.eot');
    src: url('../fonts/Roboto-Regular.ttf#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Regular.ttf.woff') format('woff'),
    url('../fonts/Roboto-Regular.ttf.ttf') format('truetype');
    font-weight: 400;
}

.container {
    max-width: 1030px;
    margin: 0 auto;
}

.movie-list__header {
    color: #252525;
    font-size: 50px;
    text-align: center;
    font-weight: 700;
    margin: 155px 0 80px 0;
}

.movie-list__table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 15px;
    overflow: hidden;
    vertical-align: top;
}

 .movie-list__table th {
    color: #fff;
    background-color: #a3cc40;
    font-size: 30px;
    font-weight: 900;
    padding: 22px 0 15px 0px;
}

.movie-list__table_one {
    font-size: 22px;
    font-weight: 400;
    text-align: center;
    color: #ffffff;
}

.movie-list__table_one-width {
    width: 25%;
}

.movie-list__table_one-width2 {
    text-align: left;
}
.dark {
    background-color: #373737;
}

.light {
    background-color: #4b4d4f;
}

.green {
    background-color: #6c6c6c;
}

.movie-list__table_one-time {
   padding-top: 25px;
   padding-bottom: 24px; 
   padding-right: 39px;
}

.movie-list__table_one-text {
    text-align: left;
    padding-left: 41px;
    padding-top: 7px;
}

.movie-list__table_one-plus {
    width: 13%;
    padding-top: 14px;
}

.movie-list__table_one-link {
    padding-left: 39px;
}

.movie-list__table .movie-list__table_up:after {
    content: '\25B2';
    font-size: 23px;
    color: #fff;
}

.movie-list__table .movie-list__table_down:after {
    content: '\25BC';
    font-size: 23px;
    color: #fff;
}

.movie-list__table_up, .movie-list__table_down {
    background-color: transparent;
    border: none;
}

.movie-list__table a {
   text-decoration: none;
   color: white;
}

.paragraph {
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    color: #242424;
    margin-top: 40px;
}