body {
    font-family: "Roboto", sans-serif;
}
/* Шрифты */
@font-face {
	font-family: "Roboto";
	src: url("../fonts/roboto-black.eot");
	src: url("../fonts/roboto-black.eot?#iefix") format("embedded-opentype"),
		url("../fonts/roboto-black.otf") format("opentype"),
		url("../fonts/roboto-black.svg") format("svg"),
		url("../fonts/roboto-black.ttf") format("truetype"),
		url("../fonts/roboto-black.woff") format("woff"),
		url("../fonts/roboto-black.woff2") format("woff2");
	font-weight: 900;
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/roboto-bold.eot");
    src: url("../fonts/roboto-bold.eot?#iefix") format("embedded-opentype"),
        url("../fonts/roboto-bold.otf") format("opentype"), 
        url("../fonts/roboto-bold.svg") format("svg"), 
        url("../fonts/roboto-bold.ttf") format("truetype"), 
        url("../fonts/roboto-bold.woff") format("woff"),
        url("../fonts/roboto-bold.woff2") format("woff2"); 
    font-weight: 700;
}
@font-face {
	font-family: "Roboto";
	src: url("../fonts/roboto-thin.eot");
	src: url("../fonts/roboto-thin.eot?#iefix") format("embedded-opentype"), 
		url("../fonts/roboto-thin.otf") format("opentype"), 
		url("../fonts/roboto-thin.svg") format("svg"), 
		url("../fonts/roboto-thin.ttf") format("truetype"),
		url("../fonts/roboto-thin.woff") format("woff"), 
		url("../fonts/roboto-thin.woff2") format("woff2"); 
	font-weight: 100;
} 
@font-face {
	font-family: "Roboto";
	src: url("../fonts/roboto-regular.eot"); 
	src: url("../fonts/roboto-regular.eot?#iefix") format("embedded-opentype"),
		url("../fonts/roboto-regular.otf") format("opentype"),
		url("../fonts/roboto-regular.svg") format("svg"), 
		url("../fonts/roboto-regular.ttf") format("truetype"), 
		url("../fonts/roboto-regular.woff") format("woff"), 
		url("../fonts/roboto-regular.woff2") format("woff2"); 
	font-weight: 400;
}
@font-face {
	font-family: "Roboto";
	src: url("../fonts/roboto-light.eot");
	src: url("../fonts/roboto-light.eot?#iefix") format("embedded-opentype"),
		url("../fonts/roboto-light.otf") format("opentype"),
		url("../fonts/roboto-light.svg") format("svg"), 
		url("../fonts/roboto-light.ttf") format("truetype"), 
		url("../fonts/roboto-light.woff") format("woff"), 
		url("../fonts/roboto-light.woff2") format("woff2"); 
	font-weight: 300;
}
/* Сетка макета */
.container {
    max-width: 64.37rem;
    margin: 0 auto;
    padding: 0 0.93rem;
    position: relative;
}
/* Общие стили */
.title {
    font-size: 3.12rem;
    font-weight: 700;
    color: #252525;
}
.paragraph {
    font-size: 0.87rem;
    font-weight: 300;
    text-align: center;
    color: #242424;
    margin-top: 1rem;
}
.paragraph__right-color {
    text-align: right;
    color: #ffffff;
    margin-top: 2.4rem;
}
.paragraph__left {
    text-align: left;
    margin-top: 2.25rem;
    margin-bottom: 4.9rem;
}
/*Первый блок*/
.block1 {
    position: relative;
    min-height: 44.81rem;
    background: url(../img/top_bg.jpg) center center/cover no-repeat;
    padding-top: 3.375rem;
    overflow: hidden;
}
.block1:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    border-left: 100vw solid transparent;
    border-bottom: 7.55rem solid #fff;
}
.block1__header {
    display: inline-block;
    width: 100%;
}
.block__col1 {
    width: 30%;
    float: left;
}
.block__col2 {
    float: right;
}
.block1__nav {
    line-height: 2.81rem;
}
.block1__nav li {
    display: inline-block;
    padding: 0 1.1rem;
}
.block1__nav li a {
    font-size: 0.93rem;
    font-weight: 100;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
}
.block1__nav li a:hover {
    color: #90d23d;
    transition: .2s;
    cursor: pointer;
    border-bottom: 1px solid #90d23d;
}
.block__h1 {
    font-size: 5rem;
    font-weight: 100;
    text-align: center;
    color: #ffffff;
    margin-top: 9.31rem;
}
.block__h2 {
    font-size: 3.125rem;
    font-weight: 300;
    text-align: center;
    color: #ffffff;
    letter-spacing: 0.0625rem;
    margin-top: -0.2rem;
}
/* Второй блок */
.block2__card {
    position: absolute;
    background-color: #fff;
    width: 28.4rem;
    box-shadow: 0px 1px 2px 0 rgba(35, 31, 32, 0.65);
    background-color: #ffffff;
    top: -12.62rem;
    right: 0;
    padding: 1.87rem;
    min-height: 12.93rem;
}
.block2__descr {
    font-size: 2.5rem;
    font-weight: 700;
}
.block2__subdescr {
    margin-top: 2.25rem;
    font-size: 0.87rem;
    font-weight: 100;
}
.block2__location {
    display: flex;
    justify-content: space-between;
    margin-top: 7.75rem;
    overflow: hidden;
}
.block2__plus {
    width: 33%;
    padding: 0 0.93rem;
}
.block2__img:hover {
    transform: scale(1.07);
    transition: 0.3s;
}
.block2__img {
    display: block;
    margin: 0 auto;
    height: 11.31rem;
}
.block2__short-title {
    font-size: 2.18rem;
    font-weight: 900;
    text-align: center;
    color: #242424;
    margin-top: 3.87rem;
}
.block2__tit {
    margin-top: 4.43rem;
}

/* Третий блок */
.block3 {
    overflow: hidden;
}
.movie-list__header {
    text-align: center;
    margin: 7.7rem 0 5rem 1.37rem;
}
/* Таблица */
.movie-list__table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 0.93rem;
    overflow: hidden;
    vertical-align: top;
}
.movie-list__table th {
    color: #fff;
    background-color: #a3cc40;
    font-size: 1.87rem;
    font-weight: 900;
    padding: 1.49rem 0 1.1rem 0px;
}
.movie-list__table_one {
    font-size: 1.375rem;
    font-weight: 400;
    text-align: center;
    color: #ffffff;
}
.movie-list__table_one-width {
    width: 25%;
}
.movie-list__table_one-width2 {
    text-align: left;
}
.dark {
    background-color: #373737;
}
.light {
    background-color: #4b4d4f;
}
.green {
    background-color: #6c6c6c;
}
.movie-list__table_one-time {
   padding-bottom: 1.25rem; 
   padding-right: 2.43rem;
}
.movie-list__table_one-text {
    text-align: left;
    padding-left: 2.56rem;
    padding-top: 0.43rem;
}
.movie-list__table_one-plus {
    width: 13%;
    padding-top: 1rem;
}
.movie-list__table_one-link {
    padding-left: 2.43rem;
}
.movie-list__table .movie-list__table_up:after {
    content: '\25B2';
    font-size: 1.43rem;
    color: #fff;
    cursor: pointer;
}
.movie-list__table .movie-list__table_down:after {
    content: '\25BC';
    font-size: 1.43rem;
    color: #fff;
    cursor: pointer;
}
.movie-list__table_up, .movie-list__table_down {
    background-color: transparent;
    border: none;
}
.movie-list__table a {
   text-decoration: none;
   color: white;
}
.block3__paragraph {
    margin-top: 2.5rem;
}
/* подарок */
.gift {
    position: relative;
}
.gift__img {
    position: absolute;
    z-index: 2;
    left: 39px;
    top: 90px;
    width: 300px;
}
/* Четвертый блок  */
.block4 {
    overflow: hidden;
    position: relative;
    background: url(../img/ticket.jpg) center center/cover no-repeat;
    margin-top: 9.56rem;
    min-height: 43.56rem;
}
.block4:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-right: 100vw solid transparent;
    border-top: 7.55rem solid #fff;
}
.block4:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    border-left: 100vw solid transparent;
    border-bottom: 7.55rem solid #fff;
}
.block4__ticket {
    width: 41.56rem;
    float: right;
}
.block4__gift {
    margin-top: 8.2rem;
    font-size: 3.125rem;
    font-weight: 900;
    color: #ffffff;
    text-align: right;
    margin-bottom: 3.25rem;
}
.block4__button {
    width: 13.75rem;
    height: 3.43rem;
    border-radius: 0.93rem;
    background-color: #90d23d;
    font-size: 1.125rem;
    text-align: center;
    color: #ffffff;
    border: none;
    margin-top: 3rem;
    float: right;
}
.block4__button:hover {
    color: #252525;
    transition: .2s;
    cursor: pointer;
}

/* Пятый блок */
.block5 {
   padding: 5.375rem 0 6.25rem 3.25rem; 
   overflow: hidden;
}
.block5__table {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 2rem;
    grid-column-gap: 2rem;
}
.block5__table-film {
    width: 18.5rem;
    height: 18.5rem;
    overflow: hidden;
}
.block5__poster img {
    display: block;
    height: 100%;
    width: 100%;
}
.block5__film {
    position: relative;
    overflow: hidden;
    border-radius: 0.75rem;
}
.block5__cosial {
    position: absolute;
    top: 0%;
    background-color: rgba(144, 210, 61, 0.82);
    padding: 1.18rem;
    overflow: hidden;
    color: #fff;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
}
.block5__film:hover .block5__cosial{
    transform: translateY(0%);
    top: 0;
    transition: 0.2s;
} 
.block5__cosial-name {
    font-size: 1.9rem;
    font-weight: 900;
    text-align: left;
    color: #fefefe;
}
.block5__cosial-band {
    width: 5.18rem;
    height: 0.375rem;
    background-color: #ffffff;
    margin-top: 0.62rem;
}
.block5__cosial-pin {
    top: 15.125rem;
    position: absolute;
    font-size: 27px;
    margin: 0 13px;
}
.block5__cosial-pin_icons {
    width: 32px;
    height: 31px;
    margin-left: 0.1rem;
    box-shadow: 0px 1px 1px 0 rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
    border-radius: 50%;
}
.block5__cosial-pin_icons img {
    height: 17px;
    width: 31px;
}
.block5__cosial-definition {
    margin-top: 0.93rem;
    font-size: 1.125rem;
    font-weight: 500;
    color: #fefefe;
}
.owl-prev {
    position: absolute;
    left: -55px;
    top: 45%;

}
.owl-next {
    position: absolute;
    right: -5px;
    top: 45%;
}
/* Шестой блок */
.maps img {
    width: 100vw;
}
/* Footer сайта */
.footer {
    min-height: 13.75rem;
    background-color: #90d23d;
    text-align: center;
    overflow: hidden;
}
.footer__cosial{
    padding-top: 3.75rem;
}
.footer__icons {
    margin: 0 0.25rem;
    border-radius: 50%;
    display: inline-block;
    width: 47px;
    height: 47px;
    background-color:#fff;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25); 
}
.footer__icons img {
    margin: 7px;
    width: 30px;
    color: rgb(144, 210, 61);
}
.footer__icons:hover {
    box-shadow: initial;
}
.footer__subdescr {
    margin-top: 1.73rem;
    font-size: 1.125rem;
    font-weight: 300;
    text-align: center;
    color: #ffffff;
}