@media screen and (max-width: 1000px) {
  
    .block5 {
        padding: 4rem 0 6rem 0;
    }
}
 @media screen and (max-width:800px) {
   .block__h1 {
        font-size: 4rem;
    }
   .movie-list {
        overflow-x: auto;
    }
    .movie-list__table {
        width: 800px;
    }
    .block1__nav li {
        padding: 0 0.7rem;
    }
    .block1__nav li a {
        font-size: 0.9rem;
    }
    .block__h2 {
    font-size: 2.8rem;
    }
    .block2__card {
        width: 27rem;
        padding: 1rem;
        min-height: 11rem;
    }
    .block5__table {
       grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
    }
    .block5__table-film {
        width: 16.5rem;
        height: 16.5rem;
    }
}
@media screen and (max-width:700px) {
    .block1__nav {
        line-height: 0;
    }
    .block1__nav li {
        padding: 0.5rem;
    }
    .block1__nav li a {
        font-size: 0.76rem;
    }
    .title {
        font-size: 2.7rem;
    }
    .block2__short-title {
        font-size: 1.9rem;
    }
    .block2__card {
        width: 20rem;
        min-height: auto;
    }
    .block2__descr {
        font-size: 2rem;
    }
    .block4 {
        margin-top: 5.56rem;
    }
    .block4__gift {
        font-size: 2.5rem;
    }
    .gift__img {
        top: 25px;
    }
    .block5 {
        padding: 2rem 0;
    }
    .paragraph__left {
        margin-bottom: 2rem;
    }

}
@media screen and (max-width:780px) {
    .gift__img {
        top: 31px;
    }
}
@media screen and (max-width:600px) {
    .block1 {
        min-height: 38rem;
    }
    .block__col1 {
        float: right;
        width: 42%;
    }
    .block__h1 {
        font-size: 3.3rem;
    }
    .block__h2 {
        font-size: 2rem;
    }
    .menu-burger {
        position: relative;
        display: block;
        width: 25px;
        height: 20px;
        cursor: pointer;
        margin: .3rem 0 0;
    }
    .menu-burger span,
    .menu-burger:after,
    .menu-burger:before {
        content: '';
        position: absolute;
        width: 100%;
        background: #fff;
        height: 2px;
        display: block;
    }
    .menu-burger:after {
        bottom: 0;
    }
    .menu-burger:before {
        top: 0;
    }
    .menu-burger span {
        top: 50%;
        margin-top: -1px;
    }
    .block1__nav {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        padding: 2rem;
        background-color: rgb(0, 0, 0, .9);
        z-index: 100;
        text-align: left;
        transform: translateX(0%);
        transition: 0.2s;
        height: 87vh;
    }
    .block1__nav li {
        display: block;
    }
    .block1__nav li + li {
        margin-left: 0;
        margin-top: 0.75rem;
    }
   /* .block1__nav_close {
       transform: translateX(100%);
   } */
   .block2__tit {
        text-align: center;
    }
    .block2__card {
        display: none;
    }
    .block2__tit {
        margin-top: 4rem;
        text-align: center;
    }
    .block2__location {
        display: block;
        margin-top: 4rem;
    }  
    .block2__plus {
        text-align: center;
        margin: 0 auto;
        margin-top: 28px;
        width: auto;
    }
    .block2__img {
        display: block;
        margin: 0 auto;
        height: 13rem;
    }
    .block2__text {
        margin-top: 2rem;
    }
    .paragraph {
        font-size: 1rem;
    }
    .block4__ticket {
        width: auto;
    }
    .gift__img {
        left: 16px;
        width: 17rem;
    }
    .block4__gift {
        font-size: 2.1rem;
    }
    .block4__button {
        width: 11rem;
        height: 3rem;
        font-size: 1rem;
    }
    .block5__table {
        grid-template-columns: 1fr 1fr;
    }
} 
@media screen and (max-width:575px) {
    .gift__img {
        top: 6px;
        left: 9px;
        width: 15rem;
    }
}
@media screen and (max-width:450px) {
    .block__h1 {
        font-size: 2.5rem;
        margin-top: 4rem;
    }
    .block__col1 {
        display: none;
    }
    .block4 {
    min-height: 47rem;
    }
    .block4__gift {
        margin-top: 8rem;
        font-size: 2.5rem;
    }
    .paragraph {
        font-size: 0.9rem;
    }
    .paragraph__right-color {
        margin-top: 2rem;
    }
    .gift__img {
        width: 11rem;
        top: 37px;
    }
    .block4__gift {
        margin-bottom: 2rem;
    }
    .block4__button {
        width: 11rem;
        height: 3rem;
        font-size: 1rem;
        margin-top: 2rem;
    }
    .block5__table-film {
        width: 11rem;
        height: 11rem;
    }
    .footer {
        min-height: 10rem;
    }
    .footer__icons {
        width: 41px;
        height: 41px;
    }
    .footer__icons img {
        margin: 5px;
        width: 27px;
    }
    .footer__subdescr {
        margin-top: 1rem;
        font-size: 1rem;
    }
}
@media screen and (max-width:320px) {
    .block__h2 {
        font-size: 1.5rem;
    }
    .title {
        font-size: 2.8rem;
    }
    .paragraph {
        font-size: 0.8rem;
    }
    .block4__gift {
        font-size: 1.8rem;
        text-align: start;
    }
    .block5__table {
        grid-template-columns: 1fr;
    }
    .block5__table-film {
        align-self: center;
        justify-self: center;
    }
    .footer__cosial {
        padding-top: 2rem;
    }
} 