.flex {
    display: flex;
    background-color: rgb(145, 67, 155);
    border-right: 1px solid black;
}

.van {
    border-right: 1px solid black;
    flex: 20% 1 0; 
}


/* Свойство flex-wrap задает правила вывода flex-элементов —  в одну строку или в несколько, с переносом блоков. Если перенос разрешен, то возможно задать направление, в котором выводятся блоки. */
.wrap {
    margin-top: 100px;
}

.content,.content1,.content2 {
    color: #fff;
    height: 150px;
    text-align: center;
}

.content div,.content1 div,.content2 div {
    height: 50%;
    width: 50%;
}
.red {
    background: orangered;
}
.green {
    background: yellowgreen;
}
.blue {
    background: steelblue;
}

.content {
    display: flex;
    flex-wrap: wrap;
}
.content1 {
    display: flex;
    flex-wrap: nowrap;
}
.content2 {
    display: flex;
    flex-wrap: wrap-reverse;
}

/*  flex-direction- управляет направлением главной оси, вдоль которой укладываются flex-элементы.*/


.link {
    display: flex;
    margin-top: 70px;
}

.link1,.link2,.link3 {
    color: #fff;
    height: 150px;
    width: 150px;
    text-align: center;
}

.link1 div,.link2 div,.link3 div {
    height: 50%;
    width: 50%;
}
.link1 {
    display: flex;
    flex-direction: row-reverse;
}
.link2 {
    display: flex;
    flex-direction: column;
}
.link3 {
    display: flex;
    flex-direction: column-reverse;
}

/* Align-items- выравнивает flex-элементы по поперечной оси.  */

.Align-items {
    display: flex;
    margin-top: 70px;
    flex-direction: column;
}

.old {
    width: 30px;
    height: 50px;

}
.old2 {
    width: 60px;
    height: 35px;
    
}
.old3 {
    width: 40px;
    height: 63px;
    
}
.items1 {
    display: flex;
    align-items: stretch ;
}
.items2 {
    display: flex;
    align-items: flex-start;
}
.items3 {
    display: flex;
    align-items: flex-end;
}
.items4 {
    display: flex;
    align-items:center;
}
.items5 {
    display: flex;
    align-items: baseline;
}

/* order задает порядок следования отдельно взятого flex-блока внутри flex-контейнера. */
.parent {
	display: flex;
	align-items: flex-start;
    flex-direction: row;
    margin-top: 80px;
}
.parent > div {
	border: 1px solid #696989;
	min-width: 100px;
}
.elem1 {
	order: 4;
}
.elem2 {
	order: 5;
}
.elem3 {
	order: 3;
}
.elem4 {
	order: 2;
}
.elem5 {
	order: 1;
}
.elem6 {
	order: -1;
}