/* При наведении */
a:hover {
    font-size: 35px;
}

/* Не переходили по ссылки */
a:link {
    color: brown;
}

/* переходили по ссылки */
a:visited {
    color: black;
}

/* Активированный пользователем элемент*/
a:active {
    color: darkorange;
}

/* Увеличивает шрифт первой строки*/
p:first-line {
    font-size: 50px;
}

/* поставь < в начале элемента*/
p::before {
    content: '';
}

/* поставь > в конце элемента*/
p::after {
    content: '';
}

/* Выбирает <p>, являющийся последним элементом
   среди элементов своего типа среди своих соседей */
p:last-of-type {
    color: red;
    font-size: 35px;
}

/* находит первого потомка своего типа среди детей родителя*/
div :first-of-type {
    background-color: lime;
}

/* находит любой элемент, являющийся первым в своём родителе*/
ul li:first-child {
    color: rgb(255, 0, 98);
    background-color: black;
    padding: 5px;
}


/* находит любой элемент, являющийся последним в его родителе*/
li:last-child {
    background-color: rgb(0, 255, 255);
}

/* находит один или более элементов, основываясь на их позиции среди группы соседних элементов*/
ul li:nth-child(2){
    text-decoration: underline;
}

/* Выбирает все элементы которые не то, что записано в скобках*/
h3:not(.descr) { 
    color: red; 
}